- page_title s_('AdminArea|Instance OAuth applications')

- if @applications.empty?
  = render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-admin-apps-md.svg',
    title: s_('AdminArea|No applications found'),
    primary_button_text: _('Add new application'),
    primary_button_link: new_admin_application_path) do |c|

    - c.with_description do
      = s_('AdminArea|Manage applications for your instance that can use GitLab as an OAuth provider, start by creating a new one above.')

- else
  = render Pajamas::CardComponent.new(card_options: { class: 'gl-new-card js-toggle-container' }, header_options: { class: 'gl-new-card-header' }, body_options: { class: 'gl-new-card-body gl-px-0' }) do |c|
    - c.with_header do
      .gl-new-card-title-wrapper.gl-flex-direction-column
        %h3.gl-new-card-title
          =  s_('AdminArea|Instance OAuth applications')
          .gl-new-card-count
            = sprite_icon('applications', css_class: 'gl-mr-2')
            = @applications.size
        %p.gl-new-card-description
          - docs_link_path = help_page_path('integration/oauth_provider')
          - docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer nofollow">'.html_safe % { url: docs_link_path }
          = s_('AdminArea|Manage applications for your instance that can use GitLab as an %{docs_link_start}OAuth provider%{docs_link_end}.').html_safe % { docs_link_start: docs_link_start, docs_link_end: '</a>'.html_safe }

      .gl-new-card-actions
        = render Pajamas::ButtonComponent.new(size: :small, href: new_admin_application_path, button_options: { data: { testid: 'new-application-button' } }) do
          = _('Add new application')
    - c.with_body do
      .table-holder
        %table.table.b-table.gl-table.b-table-stacked-md{ role: 'table' }
          %thead
            %tr
              %th= _('Name')
              %th= _('Callback URL')
              %th= _('Trusted')
              %th= _('Confidential')
              %th= _('Actions')
          %tbody.oauth-applications
            - @applications.each do |application|
              %tr{ id: "application_#{application.id}" }
                %td{ data: { label: _('Name') } }= link_to application.name, admin_application_path(application)
                %td{ data: { label: _('Callback URL') } }= application.redirect_uri
                %td{ data: { label: _('Trusted') } }= application.trusted? ? _('Yes'): _('No')
                %td{ data: { label: _('Confidential') } }= application.confidential? ? _('Yes'): _('No')
                %td{ data: { label: _('Actions') } }
                  = render Pajamas::ButtonComponent.new(href: edit_admin_application_path(application), size: :small, button_options: { class: 'gl-mr-3' }) do
                    = _('Edit')
                  = render 'delete_form', application: application

= paginate @applications, theme: 'gitlab'

.js-application-delete-modal
